body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Finlandica', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 45px;
    color: #444646;
}
.head-span{
    color: #f1c40f;
}
.header-p{
    font-size: 18px;
    color: #767676;
}
.half-div{
    display: flex;
    background-image: url(./images/shapes/Frame\ 58.jpg);
}
.header{
    width: 50%;
    margin-left: 8%;
    margin-top: 150px;
    padding-bottom: 30px;
   
}
a {
    margin-top: 20px;
}
.btn-primary{
   background-image: linear-gradient(#e67e22,#f1c40f) ;
   padding: 15px 40px;
   border-radius: 30px;
   text-decoration: none;
   font-size: 26px;
   margin-left: 11%;
 
}
.header img{
    border-radius: 50%;
}