body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
p{
    font-size: 25px;
}
.header-p{
    font-size: 18px;
    color: #767676;
}
.half-div{
    display: flex;
}
.header{
    width: 40%;
    margin-left: 8%;
    margin-top: 150px;
}